<% provide(:title, 'Create Profile') %>

<div id="wrapper">

<% if @profile.errors.any? %>
	<% @profile.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
<% end %>

<h1>Therapist Profile Form</h1>
<p>Fill out the form below to register with us.</p>

<%= render partial: 'form' %>

</div>
