<% provide(:title, 'Create Profile') %>

<div class="heading"><div id="wrapper"><h1>Therapist Profile Form</h1></div></div>

<div id="wrapper">

	<% if @profile.errors.any? %>
		<% @profile.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	<% end %>

	<p>Fill out the form below to register with us.</p>

</div>

<%= render partial: 'form' %>