<% provide(:title, 'Home') %>
<div id="hero">
    <div id="veil">
      <div id="welcome">
        <p>I am a...</p>
        <button id="therapist">
	    			<%= link_to "Therapist", new_therapist_session_path %>
	  			</button>


        <button id="patient">Patient</button>
          <div id="dialog" title="Find a Therapist">Enter your zipcode:<br>
          
            <%= form_tag(profiles_path, method: 'get') do %>
                <%= text_field :q, params[:q] %>
            <%= submit_tag('Search') %>
            <% end %>
          </div>



      </div>
    </div>
  </div>
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/jquery-ui.min.js"></script>
  <script type="text/javascript">
    $( "#dialog" ).dialog({ autoOpen: false });
    $( "#patient" ).click(function() {
      $( "#dialog" ).dialog( "open" );
    });
  </script>